[Desktop Entry]
Name=Port Killer
Comment=Verifique e encerre processos usando uma porta
Exec=PortKiller
Icon=port_killer
Terminal=false
Type=Application
Categories=Utility;System;
Keywords=port;kill;process;network;
